$enable-transitions: true;
$enable-shadows: false;
$transition-base: all .2s ease-in-out;
$red: #dc3545;
$danger: $red;
$gray-500: #adb5bd;
$purple: #6f42c1;
$gray-400: #ced4da;
$text-muted: $gray-500;
$blue: #007bff;
$orange: #fd7e14;
$gray-300: #dee2e6;
$gray-600: #6c757d;
$gray-100: #f8f9fa;
$body-bg: $gray-100;
$enable-rounded: true;
$gray-200: #e9ecef;
$jumbotron-bg: $gray-200;
$black: #000;
$body-color: $black;
$spacer: 1rem;
$border-color: $gray-600;
$enable-gradients: false;
